<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ realm.name }} - Details</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
</head>
<body>
    <h1>{{ realm.name }} - Details</h1>
    <p>Ruler: {{ realm.ruler }}</p>
    <p>Season: {{ realm.season }}</p>
    <p>Year: {{ realm.year }}</p>

    <h2>Resources</h2>
    <ul>
        {% for resource, amount in realm.resources.items %}
            <li>{{ resource }}: {{ amount }} </li>
        {% empty %}
            <li>No resources yet.</li>
        {% endfor %}
    </ul>
    <!-- <p>Resources: {{ realm.resources }}</p> -->

    <h2>Land Units</h2>
    <ul>
        {% for land_unit in realm.land_units.all %}
            <li>{{ land_unit.name }} - Type: {{ land_unit.unit_type }}</li>
        {% empty %}
            <li>No land units created yet.</li>
        {% endfor %}
    </ul>

    <h2>Population Units</h2>
    <ul>
        {% for unit in population_units %}
            <li>{{ unit.race }} (ID: {{ unit.id }})</li>
        {% empty %}
            <li>No population units available.</li>
        {% endfor %}
    </ul>

    <br><br>
    <a href="{% url 'create_land_unit' realm.name %}">Create New Land Unit</a>
    <br>
    <a href="{% url 'create_population_unit' realm.name %}">Create New Population Unit</a>
    <br>
    <a href="{% url 'realm_list' %}">Back to Realm List</a>
    <h3>Edit Realm:</h3>
    <ul>
        <li><a href="{% url 'edit_existing_realm_info' realm_name=realm.name %}">Realm Info</a></li>
        <li><a href="{% url 'edit_existing_treasury' realm_name=realm.name %}">Treasury</a></li>
        <li><a href="{% url 'edit_existing_resources' realm_name=realm.name %}">Resources</a></li>
        <li><a href="{% url 'edit_existing_land' realm_name=realm.name %}">Land</a></li>
        <li><a href="{% url 'edit_existing_population' realm_name=realm.name %}">Population</a></li>
    </ul>
</body>
</html>
