<!DOCTYPE html>
<html>
<head>
    <title>Realms</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
</head>
<body>
    <h1>All Realms</h1>
    <ul>
        {% for realm in realms %}
            <li><a href="{% url 'realm_detail' name=realm.name %}">{{ realm.name }}</a></li>
         {% empty %}
            <li>You don't have any realms yet.</li>
        {% endfor %}
    </ul>

    <button id="createNewRealmBtn">Create New Realm</button>

    <div id="creationOptionsModal" style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid black; z-index: 1000;">
        <h3>Choose Creation Method</h3>
        <button id="manualCreateBtn">Manual Creation</button>
        <button id="automaticCreateBtn">Automatic (Random) Creation</button>
    </div>

    <script>
        const createNewRealmBtn = document.getElementById('createNewRealmBtn');
        const creationOptionsModal = document.getElementById('creationOptionsModal');
        const manualCreateBtn = document.getElementById('manualCreateBtn');
        const automaticCreateBtn = document.getElementById('automaticCreateBtn');

        createNewRealmBtn.addEventListener('click', function() {
            creationOptionsModal.style.display = 'block';
        });

        manualCreateBtn.addEventListener('click', function() {
            window.location.href = "{% url 'realm_create' %}";
        });

        automaticCreateBtn.addEventListener('click', function() {
            window.location.href = "{% url 'realm_create_automatic' %}";
        });

        // You might want to add a way to close the modal if the user changes their mind
        creationOptionsModal.addEventListener('click', function(event) {
            if (event.target === creationOptionsModal) {
                creationOptionsModal.style.display = 'none';
            }
        });
    </script>
    <!-- <a href="{% url 'create_realm_start' %}">Create a New Realm</a> -->
</body>
</html>
