<!DOCTYPE html>
<html>
<head><title>Edit Land</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
</head>
<body>
    <h1>Edit Land</h1>

    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div>
                {{ form.as_p }}
            </div>
        {% endfor %}
        <button type="submit">Save Changes</button>
    </form>

    <script>
        const addBtn = document.getElementById("add-form-btn");
        const container = document.getElementById("formset-container");
        const totalForms = document.getElementById("id_form-TOTAL_FORMS");

        addBtn.addEventListener("click", function () {
            const currentFormCount = parseInt(totalForms.value);
            const newFormHtml = container.children[0].outerHTML.replace(/form-(\d)-/g, `form-${currentFormCount}-`);
            container.insertAdjacentHTML('beforeend', newFormHtml);
            totalForms.value = currentFormCount + 1;
        });
    </script>

    <p><a href="{% url 'create_realm_review' %}?realm_name={{ realm.name }}">Back to Review</a></p>

</body>
</html>
